*, ul, p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  background: rgb(246, 246, 246);
}

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: #51267d;
  color: white;
}
.header .delivery {
  display: none;
}
.header .delivery img {
  width: 30px;
  height: 30px;
}
.header__lang {
  color: white;
}
.header .dropdown-menu {
  min-width: unset;
  width: 100%;
}
.header .navbar .logo {
  display: none;
}
.header .navbar .contact {
  display: none;
}
.header .navbar .contact img {
  width: 35px;
  height: 35px;
}
.header .navbar__item {
  flex-shrink: 0;
  word-wrap: none;
}
.header .navbar ul {
  display: flex;
  gap: 10px;
}
.header .logo {
  height: 70px;
}
.header__flag {
  height: 75px;
  width: 45px;
  object-fit: contain;
  color: white;
}
.header-social {
  display: flex;
  gap: 10px;
}
.header-social img {
  height: 35px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}
.header .container > * {
  flex-shrink: 0;
}
.header .container .coverup {
  display: none;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 500vh;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 3;
}
.header__burger {
  display: none;
}
.header__burger label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__burger span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fff;
  margin-bottom: 8px;
}
.header__burger span.middle {
  width: 20px;
}

main {
  margin-top: 130px;
}
main .container {
  padding-top: 40px;
}

@media (max-width: 1200px) {
  .header__burger {
    display: block;
  }
  .header .navbar {
    max-width: 50%;
    z-index: 6;
    align-items: flex-start;
    position: fixed;
    background-color: #51267d;
    height: 100vh;
    top: 0;
    transform-origin: left;
    transition-duration: 3s;
    left: 100%;
  }
  .header .navbar .logo {
    width: 120px;
    height: 50px;
    display: block;
  }
  .header .navbar .contact {
    display: block;
  }
  .header .navbar .contact > * {
    margin-top: 30px;
  }
  .header .navbar ul {
    padding: 30px;
    flex-direction: column;
    font-size: 20px;
    line-height: 25px;
  }
  .header .navbar ul li {
    margin-top: 30px;
  }
  .header #check:checked ~ .navbar {
    left: 0;
  }
  .header #check:checked ~ .coverup {
    display: block;
  }
  .header__burger label {
    transition: 5s;
    transition-timing-function: ease;
  }
  #check:checked ~ .header__burger label {
    align-items: flex-start;
  }
}
@media (max-width: 770px) {
  main {
    margin-top: 161px !important;
  }
  .header .container {
    justify-content: space-evenly;
  }
  .header-social {
    display: none;
  }
  .header .phone {
    order: 5;
  }
  .header .delivery {
    display: block;
  }
}
.footer {
  background: #51267d;
  color: white;
}
.footer .container {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 50px;
}
.footer__logo {
  height: 30px;
  width: 100%;
  margin: auto;
  object-fit: contain;
}
.footer__bottom {
  margin-top: 70px;
}

@media (max-width: 770px) {
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main {
  padding-top: 50px;
}

.section-header {
  color: red;
  font-weight: 700;
  font-size: 40px;
}

.comments .my-card {
  width: 350px;
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
}
.comments .my-card .avtor {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
}
.comments .my-card .top {
  padding: 20px;
  color: white;
  background-color: #011627;
}
.comments .my-card_main {
  color: white;
  background: #30638e;
  padding-bottom: 80px;
}
.comments .my-card_main .stars {
  color: rgb(237, 108, 2);
  padding: 15px 0 10px;
}
.comments .my-card_main .stars ~ p {
  padding-left: 40px;
  text-align: start;
}
.comments .my-card_main .fa-regular {
  color: #011627;
}

.add .img-add {
  max-width: 90%;
  margin: 70px 0;
  padding: 70px 0;
  position: relative;
  width: 400px;
  margin: auto;
}
.add .img-add .add {
  max-width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  opacity: 0.9;
  width: 200px;
}
.add input {
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  margin: 20px 0;
}

/*# sourceMappingURL=comments.css.map */
